<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- App title -->
    <title>Surayt Corpus</title>
    <!-- App description -->
    <description/>
    <!-- Contact email -->
    <contact></contact>
    <!-- Logo name (assumes path to logo is $app-root/resources/images/) -->
    <logo>syriaca-logo.png</logo>
    <!-- Web Site URL -->
    <url></url>
    <!-- Root of app for building dynamic links. Default is eXist app root -->
    <nav-base>/exist/apps/e-surayt</nav-base>
    <!-- eXist app root for app deployment-->
    <app-root>e-surayt</app-root>
    <!-- eXist data app root for gazetteer data -->
    <data-root>e-surayt-data</data-root>
    <!-- Base URI for identifiers in app data -->
    <base_uri></base_uri>
    <!-- Map rendering -->
    <maps>
        <option>google</option>
        <option selected="true">leaflet</option>
    </maps>
</config>